
.container { 
    width: 100%; 
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 24px;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
}


.slider-wrapper .image-list.more-columns {
    grid-template-columns: repeat(20, 1fr); /* Adjusted to 20 columns */
}

.looo {
    display: flex;
    justify-content: center;
    align-items: center;
}



.slider-wrapper .image-list .image-item {
    object-fit: contain;
    width: 180px;
    height: auto;
}

.container .slider-scrollbar {
    height: 24px;
    width: 200px;
}

.slider-scrollbar .scrollbar-track {
    border: 1px solid #FF8500;
    border-radius: 50px;
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #FF8500;
    top: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
    cursor: grab;
    border-radius: 50%;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
}



@media only screen and (max-width: 767px) {
  .slider-wrapper .image-list {
      grid-template-columns: repeat(4, 1fr); /* Show 4 images by default on small screens */
  }

  .slider-wrapper .image-list .image-item {
    object-fit: cover;
    width: 120px;
}

  .slider-wrapper .image-list.more-columns {
      grid-template-columns: repeat(6, 1fr); /* Change to 6 columns when more images are visible */
  }
}

@media only screen and (min-width: 768px) {
  .slider-wrapper .image-list {
      grid-template-columns: repeat(6, 1fr); /* Show 6 images by default on medium screens and above */
  }
}




