.backdrop{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;  
    background-color: rgba(93, 93, 93, 0.75);

    
  }
  
  .modal {
    margin-top: 40px;
    position: fixed;
    left: 5%;.backdrop{
    position: relative; 
    width: 300px;
    z-index: 20;    
  }
  
  .modal {
    position: relative;
    background-color: white;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    
   }
  
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media (min-width: 375px) {
    .modal {
      overflow: hidden;
      overflow-y: scroll;
      border-radius: 10px;
      padding-top: 1px;
      width: 22rem;
      height: 34rem;
      left: calc(50% - 10.8rem);
    }
  }

  @media (min-width: 425px) {
    .modal {
      overflow: hidden;
      overflow-y: scroll;
      border-radius: 10px;
      padding-top: 1px;
      width: 25rem;
      height: 34rem;
      left: calc(50% - 12.5rem);
    }
  }


  @media (min-width: 768px) {
    .modal {
      overflow: hidden;
      overflow-y: scroll;
      border-radius: 10px;
      padding-top: 1px;
      width: 42rem;
      height: 34rem;
      left: calc(50% - 20rem);
    }
  }

  @media (min-width: 1024px) {
    .modal {
      overflow: hidden;
      overflow-y: scroll;
      border-radius: 10px;
      padding-top: 1px;
      width: 50rem;
      margin-top: 4%;
      height: 34rem;
      left: calc(50% - 25rem);
    }
  }

  
  
  @media only screen and (max-width: 314px) {
    .modal{
        visibility: hidden;
    }
}

  .modal::-webkit-scrollbar {
    width: 16px; /* Set the width of the scrollbar */

  }
  
  /* Track */
  .modal::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 9px; /* Rounded corners of the scrollbar handle */
  }
  
  /* Handle */
  .modal::-webkit-scrollbar-thumb {
    background: #FF8500; 
    border-radius: 9px; /* Rounded corners of the scrollbar handle */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Inset shadow for depth */
  }



  /* Handle on hover */
  .modal::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */

  }
  